<a id="runButton">Run</a>
<a id="clearButton">&nbsp;&nbsp;&nbsp;&nbsp;Clear</a>
<a id="debugButton">&nbsp;&nbsp;&nbsp;&nbsp;Debug Mode</a>
<a id="publishButton" class="testButton">&nbsp;&nbsp;&nbsp;&nbsp;Publish</a>

<div class="editor" id="editor">
  <canvas id="mainCanvas">
    Your browser does not support canvas.
  </canvas>

  <canvas id="imageCanvas">

  </canvas>
</div>