/* CSS Document */

body, html {
	height: 100%;
	width: 100%;
	background: #fbe500;
	font-family: Helvetica, Arial, sans-serif;
	color: #F6F254;
}


h1 {
	background: url(../images/logo.png) no-repeat top left;
	height: 132px;
	width: 326px;
	text-indent: -30000px;
}

table {
	height: 100%;
	width: 100%;
}

td#sidebar {
	width: 342px;
	height: 100%;
	background: url(../images/background-gray.png) repeat-y;
}

td#sidebar a#modeSwitch {
	background: url(../images/sidebar-switch.png) no-repeat;
	width: 224px;
	height: 29px;
	display: block;
	text-indent: -1000px;
	margin: 19px auto 45px auto;
	cursor: pointer;
}

td#sidebar a#modeSwitch.view {
	background-position: 0 -29px;
}

td#sidebar a#modeSwitch.build {
	background-position: 0 0;
}

td#sidebar div#brickMeterHolder {
	width: 218px;
	height: 185px;
	margin: 40px auto;
	overflow: hidden;
	
}

td#sidebar div#lengthMeter {
	width: 201px;
	height: 35px;
	margin: auto;
	overflow: hidden;
	background: url(../images/sidebar-length-background.png) no-repeat;
	padding-top: 35px;
	padding-left: 60px;
	font-family: "Courier New", Courier, monospace;
	color: #FFF;
	letter-spacing: 14px;
	font-size: 12px;
}

div.glasReflection {
	background: url(../images/sidebar-glas-reflection.png) no-repeat top left;
	width: 261px;
	height: 48px;
	position: absolute;
}

td#content {
	height: 100%;
	background: url(../images/background-yellow.png) repeat;
	vertical-align: top;
}

.toggleElement {
	visibility: hidden;
}

div.editor {
  margin-top: 140px;
	height: 600px;
	overflow: hidden;
}

div.editorsControls {
	position: absolute;
	z-index: 4;
	left: 402px;
	width: 286px;
}

div.controlsTop {
	top: 153px;
}

div.controlsBottom {
	top: 625px;
}

div#showroomControlsBottom {
	width: 291px;
}

div#editorControlsBottom form input {
	width: 86px;
	height: 19px;
	float: right;
	font-size: 9px;
	margin-left: 4px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #333;
	background: url(../images/editor-text-background.png) no-repeat transparent;
	border: none;
	padding: 2px 5px 0 5px;
	margin-top: 9px;
}

div#editorControlsBottom div#lengthDisplay {
	background: url(../images/editor-meter-background.png) no-repeat;
	width: 78px;
	height: 18px;
	float: left;
	color: #EBE63F;
	padding: 12px 0 0 5px;
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	letter-spacing: 13px;
	margin-left: 2px;
}

div#editorToolboxTop {
	width: 196px;
	position: absolute;
	left: 770px;
	top: 173px;
}

div#editorToolboxTop div {
	text-indent: -5000px;
	width: 86px;
}

div#editorToolboxTop div#basicBricks {
	float: left;
	background: url(../images/editor-basicbricks.png) no-repeat;
}

div#editorToolboxTop div#specialBricks {
	float: right;
	background: url(../images/editor-specialbricks.png) no-repeat;
}

div#editorToolboxBottom {
	position: absolute;
	width: 86px;
	left: 886px;
	top: 618px;
}

a#runButton, a#showButton {
	width: 54px;
	background: url(../images/editor-button-run.png) no-repeat;
}

a#clearButton {
	width: 65px;
	background: url(../images/editor-button-clear.png) no-repeat;
}

a#nextButton {
	float:right;
	width: 65px;
	background: url(../images/editor-button-next.png) no-repeat;
}

a#previousButton {
	float: right;
	width: 65px;
	background: url(../images/editor-button-previous.png) no-repeat;
}

a#repeatButton {
	width: 65px;
	background: url(../images/editor-button-repeat.png) no-repeat;
}

a#helpButton {
	width: 31px;
	background: url(../images/editor-button-help.png) no-repeat;
}

a#facebookButton {
	width: 31px;
	background: url(../images/editor-button-facebook.png) no-repeat;
	float: right;
}

a#twitterButton {
	width: 31px;
	background: url(../images/editor-button-twitter.png) no-repeat;
	float: right;
}

a#runButton:active, a#clearButton:active, a#helpButton:active, 
a#facebookButton:active, a#twitterButton:active,
a#nextButton:active, a#previousButton:active, a#showButton:active {
	background-position: 0 -30px;
}

a#publishButton {
	width: 65px;
	height: 30px;
	float: right;
	display:block;
	text-indent: -1000px;
	margin-top: 10px;
}

a#repeatButton.active {
	background-position: 0 -30px;
}

a.publishButton {background: url(../images/editor-button-publish.png) no-repeat;}

a.activePublish {
	background-position: 0 -30px;
	cursor: pointer;
}

a.activePublish:active {background-position: 0 -60px;}

a.editorButton {
	cursor: pointer;
	text-indent: -1000px;
	display: block;
	height: 30px;
	float: left;
	margin-right: 5px;
	overflow: hidden;
}

.testButton {
	color: black;
	cursor: pointer;
}

#mainCanvas {
 position: absolute;
 z-index: 1;
}

#bufferCanvas {
 position: absolute;
 z-index: 2;
}