/* CSS Document */

body, html {
	height: 100%;
	width: 100%;
	background: #fbe500;
	font-family: Helvetica, Arial, sans-serif;
	color: #F6F254;
}


h1 {
	background: url(../images/logo.png) no-repeat top left;
	height: 132px;
	width: 326px;
	text-indent: -30000px;	
}

table {
	height: 100%;
	width: 100%;
}

td#sidebar {
	width: 342px;
	height: 100%;
	background: url(../images/background-gray.png) repeat-y;
}

td#content {
	height: 100%;
	background: url(../images/background-yellow.png) repeat;
}


div.editor {
  float: left;
  margin-top: 110px;
}

.testButton {
	color: black;
	cursor: pointer;
}

#imageCanvas {
	display:none;
}